<mjml>
    <mj-head>
        <mj-title>{{ title }}</mj-title>
        <mj-style inline="inline">
            h3 {
                font-size: 18px;
                color: #fff;
                font-weight: normal;
            }
        </mj-style>
    </mj-head>

    <mj-body>
        <mj-section background-color="#e72170">
            <mj-column>
                <mj-text><h3>Elite Software</h3></mj-text>
            </mj-column>
        </mj-section>
